NET "startbutton" LOC = P22 | IOSTANDARD = LVTTL | PULLDOWN;
NET "resetbutton" LOC = P24 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1a" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1b" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1c" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2a" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2b" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2c" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;

NET "led_1a" LOC = P57 | IOSTANDARD = LVTTL;
NET "led_2a" LOC = P58 | IOSTANDARD = LVTTL;
NET "led_3a" LOC = P66 | IOSTANDARD = LVTTL;
NET "led_4a" LOC = P67 | IOSTANDARD = LVTTL;
NET "led_5a" LOC = P74 | IOSTANDARD = LVTTL;
NET "led_6a" LOC = P75 | IOSTANDARD = LVTTL;
NET "led_7a" LOC = P78 | IOSTANDARD = LVTTL;
NET "led_8a" LOC = P79 | IOSTANDARD = LVTTL;
NET "led_9a" LOC = P80 | IOSTANDARD = LVTTL;

NET "led_1b" LOC = P81 | IOSTANDARD = LVTTL;
NET "led_2b" LOC = P82 | IOSTANDARD = LVTTL;
NET "led_3b" LOC = P84 | IOSTANDARD = LVTTL;
NET "led_4b" LOC = P85 | IOSTANDARD = LVTTL;
NET "led_5b" LOC = P87 | IOSTANDARD = LVTTL;
NET "led_6b" LOC = P88 | IOSTANDARD = LVTTL;
NET "led_7b" LOC = P92 | IOSTANDARD = LVTTL;
NET "led_8b" LOC = P93 | IOSTANDARD = LVTTL;
NET "led_9b" LOC = P94 | IOSTANDARD = LVTTL;

NET "led_1c" LOC = P95 | IOSTANDARD = LVTTL;
NET "led_2c" LOC = P97 | IOSTANDARD = LVTTL;
NET "led_3c" LOC = P98 | IOSTANDARD = LVTTL;
NET "led_4c" LOC = P99 | IOSTANDARD = LVTTL;
NET "led_5c" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_6c" LOC = P101 | IOSTANDARD = LVTTL;
NET "led_7c" LOC = P102 | IOSTANDARD = LVTTL;
NET "led_8c" LOC = P104 | IOSTANDARD = LVTTL;
NET "led_9c" LOC = P105 | IOSTANDARD = LVTTL;






